*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #222;
}

.container input{
    /*appearance:none;*/
}

.container .dots{
    position: absolute;
    bottom: 70px;
    z-index: 10000;
    display: flex;
    gap: 6px;
}

.container .dots label{
    width: 60px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.5;
    border: 2px solid #222;
}

.container input:nth-child(1):checked~.dots label:nth-child(1),
.container input:nth-child(2):checked~.dots label:nth-child(2),
.container input:nth-child(3):checked~.dots label:nth-child(3),
.container input:nth-child(4):checked~.dots label:nth-child(4),
.container input:nth-child(5):checked~.dots label:nth-child(5){
    opacity: 1;
}




